{% extends "base.html" %}

{% block content %}
    <h1 class="title">{% block title %} Welcome to Mental Health! {% endblock %}
        <style>
            h1{
                border: 2px rgb(152, 173, 165) solid;
                text-align: center;
                background-image: linear-gradient(to right,rgb(57, 189, 254),rgb(1, 226, 188));
            }
        </style>
    </h1>
    <h2 class="ball">
        <style>
            h2{
            width: 15px;
            height: 15px;
            background-color: rgb(57, 189, 254);
            position: relative;
            animation-name: ball;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            box-shadow: 5px 6px rgb(173, 173, 173);
            border: 1px rgb(152, 173, 165) solid;
            }

            @keyframes ball {
                0%   {background-color:rgb(57, 189, 254); left:-30px; top:0px;}
                25%  {background-color:rgb(57, 189, 254); left:-30px; top:-120px;}
                50%  {background-color:rgb(1, 226, 188); left:1120px; top:-120px;}
                75%  {background-color:rgb(1, 226, 188); left:1120px; top:0px;}
                100% {background-color:rgb(57, 189, 254); left:-30px; top:0px;}
            }
        </style>
    </h2>
    <h3 class="ball">
        <style>
            h3{
            width: 15px;
            height: 15px;
            background-color: rgb(57, 189, 254);
            position: relative;
            animation-name: ball2;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            box-shadow: 5px 6px gray;
            border: 1px rgb(152, 173, 165) solid;
            }

            @keyframes ball2 {
                0%   {background-color:rgb(1, 226, 188); left:1120px; top:-155px;}
                25%  {background-color:rgb(1, 226, 188); left:1120px; top:-30px;}
                50%  {background-color:rgb(57, 189, 254); left:-30px; top:-30px;}
                75%  {background-color:rgb(57, 189, 254); left:-30px; top:-155px;}
                100% {background-color:rgb(1, 226, 188); left:1120px; top:-155px;}
            }
        </style>
    </h3>
{% endblock %}