{% extends "base.html" %}

{% block content %}
<div class="column is-4 is-offset-4">
<form id="login-form" method = 'POST' action = '/login'>
    <label for="username" class="sr-only">Username</label>
    <input type="username" name="username" class="form-control" placeholder="Username" required>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block">Sign in</button>
</form>
</div>
{% endblock %}