{% extends "base.html" %}

{% block content %}
<div class = "signupbox">
    <h2 class="title">Sign Up
        <style>
            h2{
                border: 2px rgb(208, 167, 255) solid;
                text-align: center;
                background-image: linear-gradient(to right,rgb(57, 189, 254),rgb(1, 226, 188));
            }
        </style>
    </h2>
</br>
    <div class="box">
        <form class="form-signin" method = 'POST' action = '/signup'>
            <div class="row">
                <div class="col-md-6">
                    <label for="firstName" class="sr-only">First Name</label>
                    <input type="firstName" name="firstName" class="form-control" placeholder="First Name" required>
                </div>
                <div class="col-md-6">
                    <label for="lastName" class="sr-only">Last Name</label>
                    <input type="lastName" name="lastName" class="form-control" placeholder="Last Name" required>
                </div>
            </div>
        </br>
            <label for="username" class="sr-only">Username</label>
            <input type="username" name="username" class="form-control" placeholder="Username" required>
            </br>
            <label for="password" class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password" required>
            </br>
            <label for="passwordConfirm" class="sr-only">Confirm Password</label>
            <input type="password" name="passwordConfirm" class="form-control" placeholder="Confirm Password" required>
            </br>
            <button class="btn btn-lg btn-primary btn-block">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}
